.u-section-1 .u-sheet-1 {
  min-height: 543px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 347px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 96px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 311px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 311px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-1 .u-image-1 {
    height: 275px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 79px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 716px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 564px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 789px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin: 35px auto 40px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 2684px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  height: 280px;
  width: 280px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 193px;
  height: 193px;
  background-image: url("images/IMG_1879.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 17px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  height: 280px;
  width: 280px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 193px;
  height: 193px;
  object-position: 50% 94.17%;
  background-image: url("images/mateo.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-7 {
  font-weight: normal;
  font-style: normal;
  margin: 17px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-group-3 {
  height: 280px;
  width: 280px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 193px;
  height: 193px;
  background-image: url("images/WhatsAppImage2023-01-23at11.59.05.jpeg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-10 {
  font-weight: normal;
  font-style: normal;
  margin: 17px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-group-4 {
  height: 280px;
  width: 280px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 193px;
  height: 193px;
  background-image: url("images/50dfa12f679395229ca9ff39f8074b1db9bd3d6e9b5b8af470f389ee1dc9a9a25dd4e2cee3696aee57bcc18cfae55fdba6feeab5778ae517ec0b3e_1280.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-13 {
  font-weight: normal;
  font-style: normal;
  margin: 17px 0 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-group-5 {
  height: 280px;
  width: 280px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  width: 193px;
  height: 193px;
  background-image: url("images/MicrosoftTeams-image.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-14 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-16 {
  font-weight: normal;
  font-style: normal;
  margin: 17px 0 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-group-6 {
  height: 280px;
  width: 280px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  width: 193px;
  height: 193px;
  background-image: url("images/50dfa12f679395229ca9ff39f8074b1db9bd3d6e9b5b8af470f389ee1dc9a9a25dd4e2cee3696aee57bcc18cfae55fdba6feeab5778ae517ec0b3e_1280.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-17 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-19 {
  font-weight: normal;
  font-style: normal;
  margin: 17px 0 0;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-group-7 {
  height: 280px;
  width: 280px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-image-7 {
  width: 193px;
  height: 193px;
  background-image: url("images/50dfa12f679395229ca9ff39f8074b1db9bd3d6e9b5b8af470f389ee1dc9a9a25dd4e2cee3696aee57bcc18cfae55fdba6feeab5778ae517ec0b3e_1280.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-20 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-21 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-22 {
  font-weight: normal;
  font-style: normal;
  margin: 17px 0 0;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-group-8 {
  height: 280px;
  width: 280px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-16 {
  padding: 30px;
}

.u-section-2 .u-image-8 {
  width: 193px;
  height: 193px;
  background-image: url("images/Screenshot2023-01-23at12.07.39.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-23 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-24 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-25 {
  font-weight: normal;
  font-style: normal;
  margin: 17px 0 0;
}

.u-section-2 .u-list-item-9 {
  background-image: none;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px;
}

.u-section-2 .u-group-9 {
  height: 280px;
  width: 280px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-18 {
  padding: 30px;
}

.u-section-2 .u-image-9 {
  width: 193px;
  height: 193px;
  background-image: url("images/Priscilla.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-26 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-27 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-28 {
  font-weight: normal;
  font-style: normal;
  margin: 17px 0 0;
}

.u-section-2 .u-list-item-10 {
  background-image: none;
}

.u-section-2 .u-container-layout-19 {
  padding: 30px;
}

.u-section-2 .u-group-10 {
  height: 280px;
  width: 280px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-20 {
  padding: 30px;
}

.u-section-2 .u-image-10 {
  width: 193px;
  height: 193px;
  background-image: url("images/erin.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-text-29 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-30 {
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-2 .u-text-31 {
  font-weight: normal;
  font-style: normal;
  margin: 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 2204px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-group-1 {
    width: 234px;
    margin-right: 0;
    margin-left: 1px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-1 {
    width: 148px;
    height: 148px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-group-2 {
    width: 234px;
    margin-right: 0;
    margin-left: 1px;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-2 {
    width: 148px;
    height: 148px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-group-3 {
    width: 234px;
    margin-right: 0;
    margin-left: 1px;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-3 {
    width: 148px;
    height: 148px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-group-4 {
    width: 234px;
    margin-right: 0;
    margin-left: 1px;
    height: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-4 {
    width: 148px;
    height: 148px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-group-5 {
    width: 234px;
    margin-right: 0;
    margin-left: 1px;
    height: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-5 {
    width: 148px;
    height: 148px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-group-6 {
    width: 234px;
    margin-right: 0;
    margin-left: 1px;
    height: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-6 {
    width: 148px;
    height: 148px;
  }

  .u-section-2 .u-text-17 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-group-7 {
    width: 234px;
    margin-right: 0;
    margin-left: 1px;
    height: auto;
  }

  .u-section-2 .u-container-layout-14 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-7 {
    width: 148px;
    height: 148px;
  }

  .u-section-2 .u-text-20 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-21 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-22 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-group-8 {
    width: 234px;
    margin-right: 0;
    margin-left: 1px;
    height: auto;
  }

  .u-section-2 .u-container-layout-16 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-8 {
    width: 148px;
    height: 148px;
  }

  .u-section-2 .u-text-23 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-24 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-25 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-group-9 {
    width: 234px;
    margin-right: 0;
    margin-left: 1px;
    height: auto;
  }

  .u-section-2 .u-container-layout-18 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-9 {
    width: 148px;
    height: 148px;
  }

  .u-section-2 .u-text-26 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-27 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-28 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-group-10 {
    width: 234px;
    margin-right: 0;
    margin-left: 1px;
    height: auto;
  }

  .u-section-2 .u-container-layout-20 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .u-section-2 .u-image-10 {
    width: 148px;
    height: 148px;
  }

  .u-section-2 .u-text-29 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-30 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-31 {
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 3228px;
  }

  .u-section-2 .u-group-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-23 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-24 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-25 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-9 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-26 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-27 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-28 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-10 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-29 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-30 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-31 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 9999px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 6396px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 453px;
}

.u-section-3 .u-text-1 {
  margin: 7px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin: 7px auto 7px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 396px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/jana-square.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  margin: 21px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  }

  .u-section-3 .u-image-1 {
    height: 165px;
    width: 165px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 738px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-3 .u-text-3 {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}